<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>

<!-- indicar metodo post para el formulario -->
<!-- for para indicar de que campo es la etiqueta -->

	<h3 th:text="${titulo}"></h3>

<!-- 	con th:object se indica que este objeto esta asociado al formulario -->
<!-- 	th:field se hace alusion solo al campo indicado en la etiqueta th:object y se usa * para indicar que es un campo de un objeto -->
<!-- th:field agrega ambos atributo name y value -->
<!-- # para utilizar objeto helper un objeto propio de tymeleaf  ${#fields.hasErrors('username') fields es de tymeleaf-->

<div>
	<span th:text="'Tiempo Transcurrido: ' + ${tiempoTranscurrido} + ' en milisegundos'"></span>
</div>
	
	<form th:action="@{/form}" method="post" th:object="${usuario}">

		<div>
		<label for="identificador">Identificador</label>
			<div>
<!-- 				<input type="text" name="username" id="username" th:value=${usuario.username}> -->
				<input type="text"  id="identificador" th:field="*{identificador}">
			</div>
<!-- 			<div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div> -->
			<div th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}"></div>
				
		<label for="username">Nombre</label>
			<div>
<!-- 				<input type="text" name="username" id="username" th:value=${usuario.username}> -->
				<input type="text"  id="nombre" th:field="*{nombre}">
			</div>
<!-- 			<div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div> -->
				<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				
				<label for="username">Apellido</label>
			<div>
<!-- 				<input type="text" name="username" id="username" th:value=${usuario.username}> -->
				<input type="text"  id="apellido" th:field="*{apellido}">
			</div>
<!-- 			<div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div> -->
			<div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
				
			<label for="username">Nombre Usuario</label>
			<div>
<!-- 				<input type="text" name="username" id="username" th:value=${usuario.username}> -->
				<input type="text"  id="username" th:field="*{username}">
			</div>
<!-- 			<div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div> -->
				<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
			<label for="password">Password</label>
			<div>
				<input type="password" id="password" th:field="*{password}">
			</div>
<!-- 			<div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div> -->
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
			<label for="email">Correo</label>
			<div>
<!-- 				<input type="email" name="email" id="email" th:value="${usuario.email}"> -->
				<input type="text" id="email" th:field="*{email}">
			</div>
<!-- 			<div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div> -->
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			<label for="cuenta">Cuenta</label>
			<div>
<!-- 				<input type="email" name="email" id="email" th:value="${usuario.email}"> -->
				<input type="number" id="cuenta" th:field="*{cuenta}">
			</div>
<!-- 			<div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div> -->
				<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
			<div>
				<input type="submit" value="Enviar">
			</div>

		</div>

	</form>

</body>
</html>